<div class="flex-center">
    <div class="catagory-container">
        {{#each categoryResult.rows}}
            <a id="{{this.category_name}}" href="/category/{{this.category_name}}">{{this.category_name}}</a>
        {{/each}}
    </div>
</div>

<div class="flex-center">
    <div class="content-container">
        <div class="word-container">
            <div id="key-word-section">
                <p class="section-header">{{wordResult.filter}}</p>
            </div>
            {{#each wordResult.rows}}
            <a href="/word/{{this.id}}">
                <div class="word-button-container">
                    <img src="{{this.image}}">
                    <div>
                        <h2>{{this.maori}} <span>- {{this.english}}</span></h2> 
                        <p>{{this.definition}}</p> 
                    </div>

                </div>
            </a>
            {{else}}
            <br>
            No results found
            {{/each}}
        </div>
    </div>
</div>
